<h1>Formulario registro de datos</h1>
<hr>



<p>Apellidos:
  <input type="text" name="apellidos" size="40" placeholder="Escriba sus dos apellidos">
</p>
<p>Email:
  <input type="email" name="Email" size="40" placeholder="Escriba su Email">
</p>
<p>Contraseña:
  <input type="password" name="contraseña" size="40" placeholder="Escriba su contraseña">
</p>
<p>Confirme su contraseña:
  <input type="password" name="confirmacion" size="40" placeholder="Escriba de nuevo su contraseña">
</p>
<p>Numero:
  <input type="tel" name="numero" size="40" placeholder="Escriba su numero">
</p>

<p>
  <input type="checkbox" name="hm" value="h" required> Recordarme
  <input type="checkbox" name="hm" value="hm" required> Suscribirme
</p>
<p>
  <input type="submit" value="Registrarme">
</p>




<router-outlet></router-outlet>